<div class="two-third">
  <% if @paintings.empty? %>
    <div id ="notice"><h4>Sorry! We couldnot find any painting in this category or search criteria. Please choose another category or change the search criteria.</h4></div>
  <% else %>
    <% @paintings.each do |painting| %>
      <div class="painting_thumbs">
        <%= link_to(painting_path(painting.id)) do%>
          <%= image_tag painting.image_url(:thumb) if painting.image? %>
            <span class="name"><%= painting.title %></span>
            <span class = "thumb-price"><%= painting.credits %>&nbsp;credits</span>
          <% end %>
      </div>
  <% end %>
  <div class="clear"></div>
  <%end%>
</div>
<%= render "paintings/sidebar" %>
