<!-- Begin Slider -->
<div id="piecemaker-container">
  <div id="piecemaker">
    <p><%= image_tag @painting.image_url if @painting.image? %><br /></p>
  </div>
</div>
<!-- End Slider -->
<!-- Begin Wrapper -->
<div id="wrapper">

  <!-- Begin Intro -->
  <div class="intro">
    <h1>Select from a 50000 paintings to buy &nbsp;&nbsp;<b>&nbsp;OR&nbsp;</b>&nbsp;&nbsp; Show and sell to a pool of 30000 potential buyers </h1>
  </div>
  <!-- End Intro -->

  <!-- Begin About -->
  <div id="about">
    <header><h3><%= link_to "Categories :", category_index_path %></h3></header>
    <% @categories.each do |category| %>
      <%= link_to(category_path(category.id)) do%>
        <div class="one-fourth"> 
          <%= image_tag category.paintings.first.image_url(:thumb) if category.paintings.first.image? %>
          <h4><%= category.name%></h4>
          <p><%= category.description %></p>
        </div>
      <%end%>
    <%end%>
  </div>
  <!-- End About -->
</div>

